<!DOCTYPE html>
<html>
<head style="height:100%">
  <title>Web Voice Recorder</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <!-- <audio id="player" controls></audio> -->

 <!--  <button id="record">Record</button>
  <button id="stop">Stop</button> -->
  <div class="center-block">
    <h1> Enregistrez un son </h1>
    <button class="recButton notRec"></button>
  </div>
  <!-- <form action="/record" method="GET">
    <div class="form-group">
      <input type="text" class="form-control">
    </div>
  </form> -->
<script>
  const recButton = document.querySelector(".recButton");
  const recordAudio = function() {
    console.log("recording");
    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(stream => {
      const mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();
      const audioChunks = [];
      mediaRecorder.addEventListener("dataavailable", e => {
        audioChunks.push(e.data);
      });
      const formData = new FormData();
      mediaRecorder.addEventListener("stop", () => {
        const audioBlob = new Blob(audioChunks);
        const audioUrl = URL.createObjectURL(audioBlob);
        const audio = new Audio(audioUrl);
        audio.play();
        var recording = new Blob([audio], { type: "audio/wav" });
        formData.append('fname', 'test.wav')
        formData.append('file', recording);
        console.log(formData.get("fname"))
        sendAudio(formData);
      });

      setTimeout(() => {
            mediaRecorder.stop();
            recButton.classList.remove('Rec');
            recButton.classList.add('notRec');
      }, 4000);
    });
  }
  const sendAudio = function (audio) {
    console.log(audio);
    fetch("/audio", {
      method: "POST",
      contentType: 'multipart/form-data',
      body: audio
    }).then(function (response) {
      console.log(response);
    })
  }

  // const buttonRecord = document.getElementById('record');

  // buttonRecord.addEventListener("click", function() {
  //   console.log("works");
  //   recordAudio();
  // })


  recButton.addEventListener("click", function () {
    if (document.querySelector(".recButton").classList.contains('notRec')) {
      recordAudio();
      recButton.classList.remove("notRec");
      recButton.classList.add('Rec')
    }
  })

  </script>
</body>
</html>
